{%for data in mvdata.object_list%}
<div id="post-{{data.key.id}}" class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at </label><span class="time">{{data.created|prettytime}}</span> by
        <a href="https://twitter.com/{{vigo.twitter}}" rel="author">{{vigo.twitter}}</a>
        <div class="icons translate">
           • <a class="bold" id="translate_button_post-{{data.key.id}}" rel="nofollow" href="javascript:;" onclick="show_translate_popup('en','post','{{data.key.id}}');">Translate</a>
        </div>
    </div>
    <div class="post-content">
        {{data.html|more}}
        <p><a class="more" rel="nofollow" href="{{data.the_url}}">More →</a></p>
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            <label>Modified at</label> <span class="time">{{data.modified|prettytime}}</span> • <a class="bold" rel="archives" href="/k/{{data.keyword}}">{{data.keyword}}</a>
        </div>
        <div class="alignright">
            <a class="bold" href="{{data.the_url}}">Leave a Comment</a>
        </div>
    </div>
</div>
{%endfor%}

<p class="pages">
{% if mvdata.has_previous %}<a href="?p={{ mvdata.previous_num }}" class="page-numbers" title="previous">«</a>{%endif%}

{%for p in mvdata.page_range %}
<a href="?p={{p}}">{{p}}</a>{%endfor%}

{% if mvdata.has_next %}<a href="?p={{ mvdata.next_num }}" class="page-numbers" title="next">»</a>{% endif %}
<span class="bold">[{{mvdata.page}} of {{mvdata.page_num}} pages, {{mvdata.item_num}} articles]</span>
</p>
<script type="text/javascript">$(function(){$('.pages a[href="?p={{mvdata.page}}"]').addClass('current');});</script>
