{% extends "layout.html"%}

{%block title%}
{{data.title}}|{{vigo.sitename|default:"Vealous"}}
{%endblock%}

{%block extra%}
<meta name="keywords" content="{{conf.sitename|default:"Vealous"}},{{data.title}}" />
{%endblock%}

{%block soga%}
<div id="post-{{data.key}}" class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at </label><span class="time">{{data.created|prettytime}}</span> by
        <a href="https://twitter.com/{{vigo.twitter}}" rel="author">{{vigo.twitter}}</a>
        <div class="icons translate">
            <a id="translate_button_post-{{data.key}}" rel="nofollow" href="javascript:;" onclick="show_translate_popup('en','post','{{data.key}}');">Translate</a>
        </div>
    </div>
    <div class="post-content">
        {{data.html|embed}}
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            Keywords: {%for tag in data.keyword|str2list%}<a rel="archives" href="/k/{{tag}}">{{tag}}</a> {%endfor%}
        </div>
        <div class="alignright">
            <a href="{{data.the_url}}?mode=plaintext" rel="nofollow">Get Source Code</a>
        </div>
    </div>
</div>
{%include "_disqus.html"%}
{%endblock%}

{%block sidebar%}
{{vigo.widget}}
{%endblock%}

{%block footer%}
{%include "_flags.html"%}
<script type="text/javascript" src="{{conf.static}}/js/FancyZoom.js"></script>
<script type="text/javascript" src="{{conf.static}}/js/FancyZoomHTML.js"></script>
<script type="text/javascript">
    window.onload = function() {
        setupZoom();
    }
</script>
{%endblock%}
