{% extends "layout.html"%}

{%block title%}
{{data.title}}|{{vigo.sitename|default:"Vealous"}}
{%endblock%}

{%block extra%}
<meta name="keywords" content="Vealous, {{conf.sitename|default:"Vealous"}},{{data.title}}" />
<link rel="stylesheet" href="{{conf.static}}/css/syntax.css" />
<script type="text/javascript" src="{{conf.jshost}}/lib/syntax/shCore.js"></script>
<script type="text/javascript" src="{{conf.jshost}}/lib/syntax/shBrushPython.js"></script>
<script type="text/javascript">
    window.onload = function(){
        dp.SyntaxHighlighter.HighlightAll('code');
    }
</script>
{%endblock%}

{%block soga%}
<div class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at</label><span class="time">{{data.created|prettytime}}</span>
    </div>
    <div class="post-content">
        {{data.html}}
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            {%if data.keyword%}Keyword: <a href="/k/{{data.keyword}}">{{data.keyword}}</a>{%endif%}
        </div>
        <div class="alignright">
            <a href="{{data.the_url}}?mode=plaintext">Get Source Code</a>
        </div>
    </div>
</div>
{%include "disqus.html"%}
{%endblock%}

{%block sidebar%}
{{conf.widget}}
{%endblock%}
