{% extends "layout.html"%}

{%block extra%}
<link rel="canonical" href="{{conf.site}}" />
{%endblock%}

{%block soga%}

{%if hi%}
<div id="post-{{hi.key.id}}" class="post">
    <h2 class="post-title"><a href="{{hi.the_url}}">{{hi.title}}</a></h2>
    <div class="post-info">
        <label>Created at </label><span class="time">{{hi.created|prettytime}}</span> by
        <a href="https://twitter.com/{{vigo.twitter}}" rel="author">{{vigo.twitter}}</a>
        <div class="icons translate">
           • <a class="bold" id="translate_button_post-{{hi.key.id}}" rel="nofollow" href="javascript:;" onclick="show_translate_popup('en','post','{{hi.key.id}}');">Translate</a>
        </div>
    </div>
    <div class="post-content">
        {{hi.html}}
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            <label>Modified at</label> <span class="time">{{hi.modified|prettytime}}</span> • <a class="bold" rel="archives" href="/k/{{data.keyword}}">{{data.keyword}}</a>
        </div>
        <div class="alignright">
            <a class="bold" href="{{hi.the_url}}" rel="nofollow">Leave a Comment</a>
        </div>
    </div>
</div>
{%endif%}

{%for data in articles%}
<div id="post-{{data.key.id}}" class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at </label><span class="time">{{data.created|prettytime}}</span> by
        <a href="https://twitter.com/{{vigo.twitter}}" rel="author">{{vigo.twitter}}</a>
        <div class="icons translate">
           • <a class="bold" id="translate_button_post-{{data.key.id}}" rel="nofollow" href="javascript:;" onclick="show_translate_popup('en','post','{{data.key.id}}');">Translate</a>
        </div>
    </div>
    <div class="post-content">
        {{data.html|more}}
        <p><a class="more" rel="nofollow" href="{{data.the_url}}">More →</a></p>
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            <label>Modified at</label> <span class="time">{{data.modified|prettytime}}</span> • <a class="bold" rel="archives" href="/k/{{data.keyword}}">{{data.keyword}}</a>
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}

{%block sidebar%}
<div class="widget widget-links">
    <h3 class="widget-title">Links</h3>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}" rel="{{link.ext}}">{{link.title}}</a>
        {%if link.text%}<p>{{link.text}}</p>{%endif%}
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

{%block footer%}
{%include "_flags.html"%}
{%endblock%}
