{% extends "layout.html"%}

{%block title%}{{keyword}}|{{vigo.sitename|default:"Vealous"}}{%endblock%}

{%block extra%}
<meta name="keywords" content="{{keyword}}" />
{%endblock%}

{%block soga%}
<div class="kw">
    <p><a href="/">Home</a> » <a href="/archive">Archive</a> » {{keyword}}</p>
</div>
{%include "_list.html"%}
{%endblock%}

{%block sidebar%}
<div class="widget widget-links">
    <h3 class="widget-title">Links</h3>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}" rel="{{link.ext}}">{{link.title}}</a>
        {%if link.text%}<p>{{link.text}}</p>{%endif%}
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

{%block footer%}
{%include "_flags.html"%}
{%include "_dc.html"%}
{%endblock%}
