<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}Home|{{vigo.sitename|default:"Vealous"}}{%endblock%}</title>
        {{vigo.meta}}
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        {%if vigo.alterfeed%}
        <link rel="alternate" type="application/rss+xml" href="{{vigo.alterfeed}}" title="Alternate Feed" />
        {%endif%}
        <link rel="alternate" type="application/atom+xml" href="{{conf.site}}/feed.atom" title="Original Feed" />
        <link rel="stylesheet" href="{{conf.static}}/css/core.css?ver={{conf.version}}" />
        <link rel="stylesheet" href="{{conf.static}}/css/slim.css?ver={{conf.version}}" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        {%block extra%}{%endblock%}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div class="wrapper clearfix">
                    <div class="brand alignleft">
                        <h2><a href="/">{{vigo.sitename|default:"Vealous"}}</a></h2>
                        <p class="pretty">{{vigo.sitetag|default:"Love its people, but never trust its government"}}</p>
                    </div>
                    {%block nav%}
                    <ul class="alignright nav">
                        <li id="nav-home"><a href="/">Home</a></li>
                        <li id="nav-archive"><a href="/archive">Archive</a></li>
                        {%for nav in navs.normal%}
                        <li><a href="{{nav.url}}">{{nav.title}}</a></li>
                        {%endfor%}
                        <li class="nav-more"><a href="#">More</a>
                        <ul class="hide">
                            <li><a href="/utils/dict">My Dict</a></li>
                            <li><a href="/utils/twitter">Twitter</a></li>
                            {%for nav in navs.more%}
                            <li><a href="{{nav.url}}">{{nav.title}}</a></li>
                            {%endfor%}
                        </ul>
                        </li>
                        <li class="nav-more"><a href="#">Feed</a>
                        <ul class="hide">
                            {%if vigo.alterfeed%}
                            <li><a rel="external" href="http://fusion.google.com/add?feedurl={{vigo.alterfeed}}">Google</a></li>
                            {%ifequal conf.language "zh"%}
                            <li><a rel="external" href="http://9.douban.com/reader/subscribe?url={{vigo.alterfeed}}">Douban</a></li>
                            <li><a rel="external" href="http://mail.qq.com/cgi-bin/feed?u={{vigo.alterfeed}}">QQMail</a></li>
                            {%else%}
                            <li><a rel="external" href="http://add.my.yahoo.com/rss?url={{vigo.alterfeed}}">Yahoo</a></li>
                            <li><a rel="external" href="http://www.bloglines.com/sub/{{vigo.alterfeed}}">Bloglines</a></li>
                            {%endifequal%}
                            {%else%}
                            <li><a rel="external" href="http://fusion.google.com/add?feedurl={{conf.site}}/feed.atom">Google</a></li>
                            {%ifequal conf.language "zh"%}
                            <li><a rel="external" href="http://9.douban.com/reader/subscribe?url={{conf.site}}/feed.atom">Douban</a></li>
                            <li><a rel="external" href="http://mail.qq.com/cgi-bin/feed?u={{conf.site}}/feed.atom">QQMail</a></li>
                            {%else%}
                            <li><a rel="external" href="http://add.my.yahoo.com/rss?url={{conf.site}}/feed.atom">Yahoo</a></li>
                            <li><a rel="external" href="http://www.bloglines.com/sub/{{conf.site}}/feed.atom">Bloglines</a></li>
                            {%endifequal%}
                            {%endif%}
                        </ul>
                        </li>
                    </ul>
                    {%endblock%}
                </div>
            </div>
            <div id="mainbody">
                <div class="wrapper clearfix">
                    <div class="soga alignleft">
                    {%block soga%}{%endblock%}
                    </div>
                    <div class="sidebar alignright">
                        {%block searchform%}
                        <div class="searchbox widget">
                            {%include "_gcse.html"%}
                        </div>
                        {%endblock%}
                        {%block sidebar%}{%endblock%}
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="wrapper clearfix">
                    <div class="alignleft">
                        <p>Copyright by <a class="bold" href="{{conf.site}}">@{{vigo.twitter|default:"lepture"}}</a> &copy; {%now "Y"%} Powered by <span class="bold">Love</span> and <a class="bold" href="http://i.shiao.org/a/vealous"><strong>Vealous</strong></a> {{conf.version}}</p>
                        <small class="snow">Theme <span class="bold">Slim</span> designed by <a class="snow bold" href="http://i.shiao.org">lepture</a></small>
                    </div>
                    <div class="alignright">
                        <a rel="external" href="http://code.google.com/appengine"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>
                    </div>
                </div>
            </div>
        </div>
        {%include "_ga.html"%}
        <script type="text/javascript" src="{{conf.static}}/js/slim.js?ver={{conf.version}}"></script>
        <script type="text/javascript" src="{{conf.static}}/js/jquery.translate-1.3.9.min.js"></script>
        {%block footer%}
        {%endblock%}
        <a id="gotop" href="#header" rel="nofollow" style="display:none;">▲</a>
    </body>
</html>
