{% extends "layout.html"%}

{%block title%}
{{data.title}}|{{vigo.sitename|default:"Vealous"}}
{%endblock%}

{%block soga%}
<div class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at</label><span class="time">{{data.created|prettytime}}</span>
    </div>
    <div class="post-content">
        <p>{{data.text}}</p>
    </div>
</div>
{%include "disqus.html"%}
{%endblock%}

{%block sidebar%}
{{conf.widget}}
{%endblock%}
