{% extends "layout.html"%}

{%block title%}{{data.title}}|{{vigo.sitename|default:"Vealous"}}{%endblock%}

{%block extra%}
<meta name="keywords" content="{{data.title}}" />
<meta name="description" content="{{data.text|more}}"/>
{%endblock%}

{%block soga%}
<div id="post-{{data.key.id}}" class="post">
    <h2 class="post-title">{{data.title}}</h2>
    <div class="sep"></div>
    <div class="post-info">
        <label>Created at </label><span class="time">{{data.created|prettytime}}</span> by
        <a href="https://twitter.com/{{vigo.twitter}}" rel="author">{{vigo.twitter}}</a>
        <div class="icons translate">
            <a id="translate_button_post-{{data.key.id}}" rel="nofollow" href="javascript:;" onclick="show_translate_popup('en','post','{{data.key.id}}');">Translate</a>
        </div>
    </div>
    <div class="post-content">
        {{data.html}}
        <p>Update at <span class="time">{{data.modified|prettytime}}</span></p>
    </div>
</div>
{%endblock%}

{%block sidebar%}
<div class="widget widget-links">
    <h3 class="widget-title">Links</h3>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}" rel="{{link.ext}}">{{link.title}}</a>
        {%if link.text%}<p>{{link.text}}</p>{%endif%}
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

{%block footer%}
{%include "_flags.html"%}
{%endblock%}
