{%extends "layout.html"%}

{%block title%}
Search|{{vigo.sitename|default:"Vealous"}}
{%endblock%}

{%block extra%}
<style type="text/css" media="screen">
    .pages a {margin: 0 2px; padding: 0 2px;}
</style>
{%endblock%}

{%block searchform%}
{%endblock%}

{%block soga%}
<div class="searchbox">
    {%include "_gcse.html"%}
</div>

{%if error%}
<p class="message">{{error}}</p>
{%endif%}

{%if gres.cursor.estimatedResultCount%}
<div class="gcse-result">
    <p class="message clearfix" style="width:630px;">
    <span class="alignleft">Found {{gres.cursor.estimatedResultCount}} results about <strong>{{q}}</strong></span>
    <span class="pretty alignright">Powered by <a href="http://code.google.com/apis/ajaxsearch/documentation/reference.html">Google Ajax Search API</a></span></p>
    {%for data in gres.results %}
    <div class="post">
        <h2 class="post-title"><a href="{{data.url}}">{{data.titleNoFormatting|gtitle}}</a></h2>
        <div class="post-content">
            <p>{{data.content}}</p>
            <p>» <a class="more" rel="nofollow" href="{{data.unescapedUrl}}">{{data.unescapedUrl}}</a></p>
        </div>
    </div>
    {%endfor%}
</div>
{%else%}
<p class="message">Oops! No result found about <strong>{{q}}</strong></p>
{%endif%}
<p class="pages">
{%for page in gres.cursor.pages%}
<a href="/search?start={{page.start}}&q={{q}}">{{page.label}}</a>
{%endfor%}
</p>
{%endblock%}

{%block sidebar%}
{{vigo.widget}}
{%endblock%}
