{% extends "layout.html"%}

{%block title%}MyDict|{{vigo.sitename|default:"Vealous"}}{%endblock%}

{%block soga%}

{%for data in mvdata.object_list%}
<div class="post" style="margin-bottom:12px;">
    <div class="post-title"><strong>{{data.word}}</strong> [{{data.pron}}] {{data.rating|star}}</div>
    <div class="post-info">
        <label>Created at</label><span class="time">{{data.created|prettytime}}</span> 
    </div>
    <p>{{data.define}}</p>
</div>
{%endfor%}
<p class="pages">
{% if mvdata.has_previous %}<a href="?p={{ mvdata.previous_num }}" class="page-numbers" title="previous">«</a>{%endif%}

{%for p in mvdata.page_range %}
<a href="?p={{p}}">{{p}}</a>
{%endfor%}

{% if mvdata.has_next %}<a href="?p={{ mvdata.next_num }}" class="page-numbers" title="next">»</a>{% endif %}
</p>
{%endblock%}

{%block sidebar%}
<div class="widget widget-links">
    <h3 class="widget-title">Links</h3>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}" rel="{{link.ext}}">{{link.title}}</a>
        {%if link.text%}<p>{{link.text}}</p>{%endif%}
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

<script type="text/javascript">$(function(){$('.pages a[href="?p={{mvdata.page}}"]').addClass('current');});</script>
<script type="text/javascript">$(function(){$("#nav-home").addClass("current");});</script>
