{% extends "layout.html"%}

{%block title%}
{{data.title}}|{{vigo.sitename|default:"Vealous"}}
{%endblock%}

{%block soga%}
<div class="post">
    <h2 class="post-title"><a href="{{data.the_url}}">{{data.title}}</a></h2>
    <div class="post-info">
        <label>Created at</label><span class="time">{{data.created|prettytime}}</span>
    </div>
    <div class="post-content">
        {{data.html}}
    </div>
    <div class="post-meta clearfix">
        <div class="alignleft">
            {%if data.keyword%}Keyword: <a rel="archives" href="/k/{{data.keyword}}">{{data.keyword}}</a>{%endif%}
        </div>
        <div class="alignright">
            <a href="{{data.the_url}}?mode=plaintext" rel="nofollow">Get Source Code</a>
        </div>
    </div>
</div>
{%include "_disqus.html"%}
{%endblock%}
