<!DOCTYPE HTML>
<html lang="en">{%autoescape off%}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta content="True" name="HandheldFriendly" />
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" name="viewport" />
        <title>{%block title%}Home|{{vigo.sitename|default:"Vealous"}}{%endblock%}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        {%if vigo.alterfeed%}
        <link rel="alternate" type="application/rss+xml" href="{{vigo.alterfeed}}" />
        {%endif%}
        <link rel="alternate" type="application/atom+xml" href="{{conf.site}}/feed.atom" />
        <link rel="stylesheet" href="{{conf.static}}/css/mobile.css?ver={{conf.version}}" />
        {%block extra%}{%endblock%}
    </head>
    <body>
        <div id="header">
            <h2 class="brand wrapper"><a href="/">{{vigo.sitename|default:"Vealous"}}</a></h2>
        </div>
        <div id="mainbody">
            <div class="wrapper">
            <div class="searchbox">
                {%include "_gcse.html"%}
            </div>
            {%block soga%}{%endblock%}
            </div>
        </div>
        <div id="nav">
            <div class="wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archive">Archive</a></li>
                {%for nav in navs.normal%}
                <li><a href="{{nav.url}}">{{nav.title}}</a></li>
                {%endfor%}
                <li><a href="/utils/dict">MyDict</a></li>
                <li><a href="/utils/twitter">Twitter</a></li>
            </ul>
            </div>
        </div>
        <div id="footer">
            <div class="wrapper">
                <p>Copyright by <a style="font-weight:bold;" href="{{conf.site}}">@{{vigo.twitter|default:"lepture"}}</a> &copy; {%now "Y"%} Powered by <a class="bold" href="http://blog.lepture.com/a/vealous"><strong>Vealous</strong></a> + <strong>GAE</strong></p>
            </div>
        </div>
        {%include "_ga.html"%}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{conf.static}}/js/slim.js?ver={{conf.version}}"></script>
        {%block footer%}
        {%endblock%}
    </body>{%endautoescape%}
</html>
