/* ---------- clearfix hack ---------- */
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after { content: " "; display: block; clear: both; height: 0; visibility: hidden; font-size: 0; }
.clearfix { display: inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end clearfix */

/* http://sonspring.com/journal/clearing-floats */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* defined class */
.singleline {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
}
.hide {
    display: none;
}
.alignleft { float: left;}
.alignright{ float: right;}
.textleft { text-align: left;}
.textright { text-align: right;}
.textcenter { text-align: center; }
.pretty {
    font-family: "DejaVu Serif", "Times New Roman", serif;
    font-size: 12px;
    font-style: italic;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60) !important;
    z-index: 5;
}
.button, input[type="submit"] {
    background-image: url("../img/bg_blended.png");
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(66, 66, 77, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(66, 66, 77, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(66, 66, 77, 0.4);
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.35);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px 15px;
    font: 12px/13px "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
}
a.button:visited {
    color: #333;
}
body a.button {
    text-decoration: none;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.35);
}
.button:hover, input[type="submit"] {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(66, 66, 77, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(66, 66, 77, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(66, 66, 77, 0.2);
    text-shadow: 0 1px 1px #fff;
    border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.35);
}
.button:active, input[type="submit"] {
    background-color: #e2e2e2;
}
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box .cell {
    border-bottom: 1px solid #e2e2e2;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
}
.box:first-child {
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
}
.box .inner {
    padding: 12px;
    font-size: 12px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
}
.circle_number {
    display: block;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background-color: #1c7fdb;
    color: #fff;
    font-weight: bold;
    padding: 2px 14px;
    margin: 18px 12px 0 0;
    text-decoration: none;
}
.circle_number:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff6600;
}
.required { font-weight: bold;}
.status {
    margin-left: 12px;
    background-color: #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 2px 6px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
a.status:hover {
    background-color: #999;
    text-decoration: none;
    color: #fff;
}
input[type="text"], input[type="password"], textarea, select, .sl, .text {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, sans-serif;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .sl:focus, select:focus, .text {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}
body { text-align: center; letter-spacing: 0; min-height: 100%; }
#container {margin: auto; min-width: 980px; text-align: left; }
.wrapper {width: 960px; height: 100%; margin: 0 auto;}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td { margin: 0; padding: 0; }
fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,h4,h5,h6,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before, q:after { content: ''; }
a { text-decoration: none; outline: 0 none; }

code, pre { font-family: Consolas, Monaco, "Courier New", Courier, monospace; }

pre {
    background: #f5f5f5;
    border: 1px solid #dadada;
    padding: 11px;
    font-size: 12px;
    line-height: 1.3em;
    overflow: auto;
}
a { color: #21759b; text-decoration: none; font-weight: normal; border: 0 none; }
/*a:visited {color:#4ca6cf;}*/
a:hover { color: #d54e21; }
a:active { outline: none; }
p a { border-bottom: 1px solid #dfdfdf; }
p a:hover { border-bottom: 1px solid #d54e21; }
em, cite {font-style: italic;}
blockquote { background: #f5f5f5; border: 1px solid #dadada; padding: 15px 20px; margin-bottom: 22px; border-radius: 5px, -moz-border-radius: 5px; }
ul { list-style-type: none;}
h3 { font-weight: bold; }
h3 a { font-size: 16px;}
/* end reset */
