#-*- coding: utf-8 -*-
import os

VERSION = '1.4.2'

DEBUG=False

ROOT = os.path.dirname(__file__)

TIMEZONE = 8
LANGUAGE = 'zh'

THEME = 'slim'
EMAIL = ''

LOGIN_URL = '/god/login'
STATIC_URL = '/static'
#STATIC_URL = 'http://shiao.googlecode.com/svn/trunk/vealous/static'
SITE_URL = '' #no slash eg: http://i.shiao.org

# disqus
disqus_shortname = '' # http://disqus.com
disqus_userkey = '' # http://disqus.com/api/keys/
disqus_forumkey = '' # http://disqus.com/api/keys/
disqus_forumid = '' # http://disqus.com/api/get_forum_list?user_api_key=Your_UserKey&api_version=1.1

# google
ga = '' # https://www.google.com/analytics
gcse = '' # http://www.google.com/cse/

# douban oauth 
# http://www.douban.com/service/apikey/apply
enable_douban = False
douban_key = ''
douban_secret = ''

# twitter oauth
twitter_key = ''
twitter_secret = ''

# bit.ly
# http://bit.ly/a/your_api_key
bitly_login = ''
bitly_apikey = ''

SECRET = 'xhoayerqdjfat'
PASSWORD = 'SECRET'
# for session
SESSION_NAME = 'sessionid'
SESSION_EXPIRE = 604800

gvars = {
    'version': VERSION,
    'site': SITE_URL,
    'static': STATIC_URL,
    'ga': ga,
    'disqus_shortname': disqus_shortname,
    'enable_douban': enable_douban,
}
