#!/usr/bin/env python
#-*- coding: utf-8 -*-
import os
VERSION = '1.2.1'

DEBUG=False

ROOT = os.path.dirname(__file__)

TIMEZONE = 8 # eg. -1, -4, 0, 8

THEME = 'slim'
EMAIL = 'you@email.com'

LOGIN_URL = '/god/login'
STATIC_URL = '/static'
JS_HOST = '/static'
SITE_URL = 'http://www.example.com' #no slash

# douban oauth 
douban_key = ''
douban_secret = ''

# twitter oauth
twitter_key = ''
twitter_secret = ''

# flickr
flickr_key = ''
flickr_secret = ''

# bit.ly
bitly_login = ''
bitly_apikey = ''

SECRET = 'xhoayerqdjfat' #once decided, you should never change it
PASSWORD = 'SECRECT' #you first password
# for session
SESSION_NAME = 'sessionid'
SESSION_EXPIRE = 7200

WIDGET = ''
META = ''

# don't change gvars
gvars = {
    'version': VERSION,
    'site': SITE_URL,
    'static': STATIC_URL,
    'jshost': JS_HOST,
    'email': EMAIL,
    'debug': DEBUG,
    'widget': WIDGET,
    'meta': META,
}
