{%extends "layout.html"%}

{%block main%}
<p class="message">{{message}}</p>
<form class="box" action="" method="post">
    <div class="form-row cell">
        <input id="id_title" class="text" type="text" name="title" maxlength="100" />
        <label for="id_title" class="required">Title</label>
    </div>
    <div class="form-row cell">
        <input id="id_slug" class="text" type="text" name="slug" maxlength="100" />
        <label for="id_slug" class="required">Slug</label>
    </div>
    <div class="form-row cell">
        <textarea id="id_text" name="text"></textarea>
    </div>
    <div class="form-row cell">
        <input id="id_keyword" class="text" type="text" name="keyword" maxlength="300" />
        <label for="id_keyword">Keyword</label>
    </div>
    <div class="form-row inner">
        <input type="submit" class="button" value="Save as Draft" name="draft" />
        <input type="submit" class="button" value="Post Now" name="publish" />
    </div>
</form>
{%endblock%}
