{%extends "layout.html"%}

{%block main%}
<div class="boxnav">
    <a href="{%url add_article%}" class="button">Add Article</a>
</div>
<p class="message">{{message}}</p>
<div class="box articles">
    {%for data in mvdata.object_list%}
    <div class="cell article">
        <div class="content">
            <h3 class="title"><a href="{%url edit_article%}?key={{data.key}}">{{data.title}}</a></h3>
            <p><label>Created at</label> <span class="time">{{data.created|prettytime}}</span> {%if data.draft%}<a href="?action=post&key={{data.key}}">Post It</a>{%else%}<a href="?action=draft&key={{data.key}}">Draft It</a>{%endif%}</p>
            <p><label>Update at</label> <span class="time">{{data.modified|prettytime}}</span>{%if data.draft%}<span class="status">Draft</span>{%endif%}</p>
        </div>
        <div class="action">
            <a href="{%url edit_article%}?key={{data.key}}" class="edit">Edit</a>
            <a href="{%url edit_article%}?key={{data.key}}&action=delete" class="delete">Delete</a>
        </div>
    </div>
    {%endfor%}
    <div class="inner article">
        <p>There are {{mvdata.item_num}} articles</p>
    </div>
</div>
{%endblock%}
