{%extends "layout.html"%}

{%block main%}
<div class="boxnav">
    <a href="/god/article/add" class="button">Add Article</a>
    <a href="/god/melody/add" class="button">Add Melody</a>
</div>
<p class="message">{{message}}</p>
<div class="box">
    <form id="noteform" action="/god/note/add" method="post">
        <div class="form-row cell">
            <textarea id="note" name="text"></textarea>
        </div>
        <div class="form-row cell">
            <input type="checkbox" checked="checked" name="douban" /><label for="douban">Douban</label>
            <input type="checkbox" checked="checked" name="twitter" /><label for="twitter">Twitter</label>
        </div>
        <div class="hide">
            <input type="checkbox" checked="checked" name="note" />
        </div>
        <div class="form-row inner">
            <input type="submit" class="button" value="Save Note" />
        </div>
    </form>
</div>
<div class="box comment" style="margin-top:10px;">
    {% for data in comments %}
    <div class="cell clearfix disqus">
        <div class="cl-1 clearfix">
            <img src="{{data.avatar}}" alt="avatar" class="avatar alignleft" />
            <div class="bitch">
                <p>{{data.content}}</p>
                <p><label>{{data.username}}</label> Comment on <a href="{{data.thread.url}}">{{data.thread.title}}</a></p>
                <p><label>Posted at:</label> <span class="time">{{data.created}}</span> 
            </div>
        </div>
        <p class="action">
            {%ifequal data.status "approved"%}
            <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=spam&post_id={{data.comment_id}}">Spam</a>
            {%else%}
            <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=approve&post_id={{data.comment_id}}">Approve</a>
            {%endifequal%}
            <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=kill&post_id={{data.comment_id}}">Delete</a>
            <span class="status">{{data.status}}</span></p>
        </p>
    </div>
    {% endfor %}
    <div class="inner">
        <p>For more comments Visit <a class="button" href="http://disqus.com/comments/moderate/{{vigo.disqus}}/">Disqus</a></p>
    </div>
</div>
{%endblock%}
