{%extends "layout.html"%}

{%block nav%}
<li><a href="{{gurl}}">Google Login</a></li>
{%endblock%}

{%block main%}
<div class="soga" style="width: 100%;">
    <p class="message">{{message}}</p>
</div>
<div class="box textcenter">
    <div class="cell">
        <strong>Only God owns this land</strong>
    </div>
    <form action="" method="post">
        <div class="cell">
            <input type="password" name="passwd" />
        </div>
        <div class="inner">
            <input class="button" type="submit" value="I am God" />
        </div>
    </form>
</div>
{%endblock%}
