{%extends "layout.html"%}

{%block main%}
<p class="message">{{message}}</p>
<form class="box" action="" method="post">
    <div class="form-row cell">
        <label for="id_sitename" class="required">Site Name</label>
        <br />
        <input id="id_sitename" class="text" type="text" name="sitename" maxlength="200" value="{{vigo.sitename}}" />
    </div>
    <div class="form-row cell">
        <label for="id_sitetag" class="required">Description</label>
        <br />
        <input id="id_sitetag" class="text" type="text" name="sitetag" maxlength="500" value="{{vigo.sitetag}}" />
    </div>
    <div class="form-row cell">
        <label for="id_twitter" class="required">Twitter</label>
        <br />
        <input id="id_twitter" class="text" type="text" name="twitter" maxlength="100" value="{{vigo.twitter}}" />
    </div>
    <div class="form-row cell">
        <label for="id_alterfeed">Aternate Feed</label>
        <br />
        <input id="id_alterfeed" class="text" type="text" name="alterfeed" maxlength="100" value="{{vigo.alterfeed|default:""}}" />
    </div>
    <div class="hide">
        <textarea id="id_meta" name="meta">{{vigo.meta|default:""}}</textarea>
        <textarea id="id_widget" name="widget">{{vigo.widget|default:""}}</textarea>
    </div>
    <div class="form-row inner">
        <input type="submit" class="button" value="Save Setting" />
    </div>
</form>
{%endblock%}
