{%extends "layout.html"%}

{%block main%}
<div class="soga alignleft">
    <p class="message">{{message}}</p>
    <div class="box">
        <form id="noteform" action="" method="post">
            <div class="form-row cell">
                <textarea id="note" name="text" style="width:98%;height:5em;"></textarea>
            </div>
            <div class="form-row inner clearfix">
                {%ifequal conf.language "zh"%}
                <input type="checkbox" checked="checked" name="douban" /><label for="douban">Douban</label> |
                {%else%}
                <input type="hidden" name="douban" />
                {%endifequal%}
                <input type="checkbox" checked="checked" name="twitter" /><label for="twitter">Twitter</label>
                <input type="submit" class="button alignright" value="Tweet" />
            </div>
        </form>
    </div>
    <div class="box disqus-comment">
        {% for data in comments %}
        <div class="cell clearfix disqus">
            <img src="{{data.avatar}}" alt="avatar" class="avatar alignleft" />
            <div class="bitch alignleft">
                <p>{{data.content}}</p>
                <p><label>{{data.username}}</label> Comment on <a href="{{data.thread.url}}">{{data.thread.title}}</a></p>
                <p><label>Posted at:</label> <span class="time">{{data.created}}</span> <span class="status">{{data.status}}</span></p>
            </div>
            <div class="action alignright">
                {%ifequal data.status "approved"%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=spam&post_id={{data.comment_id}}">Spam</a>
                {%else%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=approve&post_id={{data.comment_id}}">Approve</a>
                {%endifequal%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=kill&post_id={{data.comment_id}}">Delete</a>
            </div>
        </div>
        {% endfor %}
        <div class="inner">
            <p>For more comments Visit <a class="button" href="http://disqus.com/comments/moderate/{{conf.disqus_shortname}}/">Disqus</a></p>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="help">
        <form action="/god/article">
            <input type="text" class="text" name="key" />
            <input type="submit" class="submit" name="action" value="Find" />
        </form>
    </div>
    <div class="help access">
        <h4>Access</h4>
        <a href="/god/article/add" class="button">Add Article</a>
        <a href="/god/page/add" class="button">Add Page</a>
        <a href="/god/twitter" class="button">Twitter</a>
        {%ifequal conf.language "zh"%}
        <a href="/god/douban" class="button">Douban</a>
        {%endifequal%}
        <a href="/god/note/add" class="button">Add Note</a>
        <a href="/god/setting" class="button">Setting</a>
    </div>
</div>
{%endblock%}
