{%extends "layout.html"%}

{%block main%}
<div class="soga alignleft">
    <div class="boxnav">
        <a href="/god/article/add" class="button">Add Article</a>
        <a href="/god/melody/add" class="button">Add Page</a>
    </div>
    <p class="message">{{message}}</p>
    <div class="box comment">
        {% for data in comments %}
        <div class="cell clearfix disqus">
            <img src="{{data.avatar}}" alt="avatar" class="avatar alignleft" />
            <div class="bitch alignleft">
                <p>{{data.content}}</p>
                <p><label>{{data.username}}</label> Comment on <a href="{{data.thread.url}}">{{data.thread.title}}</a></p>
                <p><label>Posted at:</label> <span class="time">{{data.created}}</span> <span class="status">{{data.status}}</span></p>
            </div>
            <div class="action alignright">
                {%ifequal data.status "approved"%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=spam&post_id={{data.comment_id}}">Spam</a>
                {%else%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=approve&post_id={{data.comment_id}}">Approve</a>
                {%endifequal%}
                <a class='{{data.comment_id}}' href="/god/third/disqus_moderate?action=kill&post_id={{data.comment_id}}">Delete</a>
            </div>
        </div>
        {% endfor %}
        <div class="inner">
            <p>For more comments Visit <a class="button" href="http://disqus.com/comments/moderate/{{vigo.disqus}}/">Disqus</a></p>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="box">
        <form id="noteform" action="/god/note/add" method="post">
            <div class="form-row cell">
                <textarea id="note" name="text" rows="4" cols="20" ></textarea>
            </div>
            <div class="form-row cell">
                {%ifequal conf.language "zh"%}
                <input type="checkbox" checked="checked" name="douban" /><label for="douban">Douban</label> |
                {%else%}
                <input type="hidden" name="douban" />
                {%endifequal%}
                <input type="checkbox" checked="checked" name="twitter" /><label for="twitter">Twitter</label>
            </div>
            <div class="hide">
                <input type="checkbox" checked="checked" name="note" />
            </div>
            <div class="form-row inner">
                <input type="submit" class="button" value="Save Note" />
            </div>
        </form>
    </div>
    <div style="margin-top:10px; min-height:30px;" class="box notewrap">
        {% for data in notes %}
        <div class="cell">
            <p>{{data.text|escape}}</p>
            <p>Created at <span class="time">{{data.created|timesince|split:","}} ago</span> <span class="action"><a href="/god/note/delete?key={{data.key}}">Delete</a></span></p>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}
