<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}Dashboard{%endblock%}</title>
        <link rel="stylesheet" href="{{conf.static}}/css/core.css?ver={{conf.version}}" />
        <link rel="stylesheet" href="{{conf.static}}/css/dashboard.css?ver={{conf.version}}" />
        {%block extra%}{%endblock%}
    </head>
    <body id="god">
        <div id="container">
            <div id="header">
                <div class="wrapper clearfix">
                    <div class="brand alignleft">
                        <h2><a href="/">{{vigo.sitename|default:"Vealous"}}</a></h2>
                        <p class="pretty">{{vigo.sitetag|default:"Love its people, but never trust its government"}}</p>
                    </div>
                    {%block login%}
                    <ul class="alignright nav">
                        {%block nav%}
                        <li class="current"><a href="/god">Dashboard</a></li>
                        <li><a href="/god/article">Articles</a></li>
                        <li><a href="/god/page">Pages</a></li>
                        <li><a href="/god/melody">Melody</a></li>
                        {%endblock%}
                        <li class="nav-more"><a href="#">More</a>
                        <ul class="hide">
                            {%ifequal conf.language "zh"%}
                            <li><a href="/god/douban">Douban</a></li>
                            {%endifequal%}
                            <li><a href="/god/twitter">Twitter</a></li>
                            <li><a href="/god/console/memcache">Console</a></li>
                            <li><a href="/god/setting">Setting</a></li>
                        </ul>
                        </li>
                    </ul>
                    {%endblock%}
                </div>
            </div>
            <div id="mainbody">
                <div class="wrapper clearfix">
                    {%block main%}{%endblock%}
                </div>
            </div>
            <div id="footer">
                <div class="wrapper clearfix">
                    <div class="alignleft">
                        {%block account%}<p class="pretty"><a href="/god/logout"><strong>Logout</strong></a> | <a href="/god/chpasswd"><strong>Change Password</strong></a> of <a href="http://i.shiao.org">Vealous God Lands</a></p>{%endblock%}
                        <p class="pretty">Copyleft by <a href="http://i.shiao.org">@lepture</a> &copy; 2010-{%now "Y"%} Version {{conf.version}}</p>
                    </div>
                    <div class="alignright">
                        <a rel="external" href="http://code.google.com/appengine"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{conf.static}}/js/god.js?ver={{conf.version}}"></script>
        <a id="gotop" href="#header" rel="nofollow" style="display:none;">▲</a>
    </body>
</html>
