{%extends "layout.html"%}

{%block title%}
Melody|Dashboard
{%endblock%}

{%block nav%}
<li><a href="/god">Dashboard</a></li>
<li><a href="/god/article">Articles</a></li>
<li><a href="/god/page">Pages</a></li>
<li class="current"><a href="/god/melody">Melody</a></li>
<li><a href="/god/note">Note</a></li>
{%endblock%}

{%block main%}
<div class="soga alignleft">
    <div class="boxnav clearfix">
        <a href="/god/melody/add" class="button">Add Melody</a>
        <div class="page-nav alignright">
            {%include "_p.html"%}
        </div>
    </div>
    <p class="message">{{message}}</p>
    <div class="box articles">
        {%for data in mvdata.object_list%}
        <div class="cell article clearfix">
            <div class="content alignleft">
                <h3 class="title"><a href="/god/melody/edit?key={{data.key}}">{{data.title}}</a></h3>
                <p><label>Ext</label> <span class="bold">{{data.ext}}</span></p>
                <p><label>Priorty:</label><span class="bold">{{data.prior}}</span> <span class="status">{{data.label}}</span> </p>
            </div>
            <div class="action alignright">
                <a href="/god/melody/edit?key={{data.key}}" class="edit">Edit</a>
                <a href="/god/melody/edit?key={{data.key}}&action=delete" class="delete">Delete</a>
            </div>
        </div>
        {%endfor%}
        <div class="inner article">
            <p>There are {{mvdata.item_num}} items</p>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="help access">
        <h4>Filter</h4>
        <a class="button" href="?filter=nav">Show Nav</a>
        <a class="button" href="?filter=link">Show Link</a>
        <a class="button" href="?filter=demo">Show Demo</a>
        </div>
    </div>
</div>
{%endblock%}
