{%extends "layout.html"%}

{%block title%}
Page|Dashboard
{%endblock%}

{%block nav%}
<li><a href="/god">Dashboard</a></li>
<li><a href="/god/article">Articles</a></li>
<li class="current"><a href="/god/page">Pages</a></li>
<li><a href="/god/melody">Melody</a></li>
<li><a href="/god/note">Note</a></li>
{%endblock%}

{%block main%}
<div class="soga alignleft">
    <div class="boxnav clearfix">
        <a href="/god/page/add" class="button">Add Page</a>
        <div class="page-nav alignright">
            {%include "_p.html"%}
        </div>
    </div>
    <p class="message">{{message}}</p>
    <div class="box articles">
        {%for data in mvdata.object_list%}
        <div class="cell article clearfix">
            <div class="content alignleft">
                <h3 class="title"><a href="{{data.the_url}}">{{data.title}}</a></h3>
                <p><label>Created at</label> <span class="time">{{data.created|prettytime}}</span></p>
                <p><label>Update at</label> <span class="time">{{data.modified|prettytime}}</span></p>
            </div>
            <div class="action alignright">
                <a href="/god/page/edit?key={{data.key}}" class="edit">Edit</a>
                <a href="/god/page/edit?key={{data.key}}&action=delete" class="delete">Delete</a>
            </div>
        </div>
        {%endfor%}
        <div class="inner page">
            <p>There are {{mvdata.item_num}} pages</p>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="help">
        <form action="">
            <input type="text" name="key" class="text" />
            <input type="submit" class="button" value="Find" name="action" />
        </form>
    </div>
</div>
{%endblock%}
