{%extends "layout.html"%}

{%block title%}
Twitter|Dashboard
{%endblock%}

{%block main%}
<div class="soga alignleft">
    <p class="message">{{message}}</p>
    <div class="box box-form">
        <form id="noteform" action="" method="post">
            <div class="form-row cell">
                <textarea id="note" name="text" style="width:98%;height:5em;"></textarea>
            </div>
            <div class="hide">
                <input type="checkbox" checked="checked" name="twitter" />
            </div>
            <div class="form-row inner clearfix">
                <input type="submit" class="button alignright" value="Tweet" />
            </div>
        </form>
    </div>
    <div class="box">
        {%include "_twitter.html"%}
        <div class="inner">
            <a href="/god/twitter/mentions" class="button">Mentions</a>
            <a href="/god/twitter/directs" class="button">Directs</a>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="box help">
        <div class="cell clearfix">
            <img src="{{profile.profile_image_url}}" class="avatar alignleft" alt="{{profile.name}}" />
            <div class="alignleft">
                <strong>{{profile.name}}</strong>
                <p>{%if profile.url%}<a href="{{profile.url}}">{{profile.url}}</a>{%endif%}</p>
                <div class="sep"></div>
                <p><strong>{{profile.statuses_count}}</strong> tweets | <strong>{{profile.favourites_count}}</strong> <a href="/god/twitter/favorites/{{username}}">favs</a></p>
            </div>
        </div>
        <div class="inner clearfix">
            <div class="alignleft"><strong>{{profile.followers_count}}</strong> followers.</div>
            <div class="alignright"><strong>{{profile.friends_count}}</strong> friends.</div>
        </div>
    </div>
    <div class="help access">
        <h4>Access</h4>
        <a href="/god/twitter" class="button">Home</a>
        <a href="/god/twitter/mentions" class="button">Mentions</a>
        <a href="/god/twitter/directs" class="button">Directs</a>
        <a href="/god/twitter/favorites" class="button">Favorites</a>
        <a href="/god/twitter/user/{{username}}" class="button">{{username}}</a>
    </div>
</div>
{%endblock%}
