{%extends "layout.html"%}

{%block title%}
Twitter|Dashboard
{%endblock%}

{%block main%}
<div class="soga alignleft">
    <p class="message">{{message}}</p>
    <div class="box box-form">
        <form id="noteform" action="" method="post">
            <div class="form-row cell">
                <textarea id="note" name="text" style="width:98%;height:5em;"></textarea>
            </div>
            <div class="hide">
                <input type="checkbox" checked="checked" name="twitter" />
            </div>
            <div class="form-row inner clearfix">
                <input type="submit" class="button alignright" value="Tweet" />
            </div>
        </form>
    </div>
    <div class="box comment">
        {%for status in statuses%}
        <div class="cell clearfix twitter">
            <div>
                <p class="tw-info">@<a href="/god/twitter/user/{{status.sender_screen_name}}">{{status.sender_screen_name}}</a>
                <strong class="snow"><small>{{status.datetime|timesince}} ago</small></strong>
                </p>
                <div class="sep"></div>
                <p class="tw-content">{{status.text|urlize|atgod}}</p>
            </div>
        </div>
        {%endfor%}
        <div class="inner">
            <a href="/god/twitter/mentions" class="button">Mentions</a>
            <a href="/god/twitter/directs" class="button">Directs</a>
        </div>
    </div>
</div>
<div class="sidebar alignright">
    <div class="help access">
        <h4>Access</h4>
        <a href="/god/twitter" class="button">Home</a>
        <a href="/god/twitter/public" class="button">Public</a>
        <a href="/god/twitter/mentions" class="button">Mentions</a>
        <a href="/god/twitter/directs" class="button">Directs</a>
        <a href="/god/twitter/favorites" class="button">Favorites</a>
        <a href="/god/twitter/user/{{vigo.twitter}}" class="button">{{vigo.twitter}}</a>
    </div>
</div>
{%endblock%}
