{%extends "layout.html"%}

{%block title%}
Setting|Dashboard
{%endblock%}

{%block main%}
<div class="soga alignleft">
    <p class="message">{{message}}</p>
    <form class="box" action="" method="post">
        <div class="form-row cell">
            <input id="id_sitename" class="text" type="text" name="sitename" maxlength="200" value="{{vigo.sitename}}" />
            <label for="id_sitename" class="required">Site Name</label>
        </div>
        <div class="form-row cell">
            <input id="id_sitetag" class="text" type="text" name="sitetag" maxlength="500" value="{{vigo.sitetag}}" />
            <label for="id_sitetag" class="required">Description</label>
        </div>
        <div class="form-row cell">
            <input id="id_twitter" class="text" type="text" name="twitter" maxlength="100" value="{{vigo.twitter}}" />
            <label for="id_twitter" class="required">Twitter</label>
        </div>
        <div class="form-row cell">
            <input id="id_alterfeed" class="text" type="text" name="alterfeed" maxlength="100" value="{{vigo.alterfeed|default:""}}" />
            <label for="id_alterfeed">Alternate Feed</label>
        </div>
        <div class="form-row cell">
            <label for="id_meta" style="margin: 0; display:block;">Meta</label>
            <textarea id="id_meta" name="meta" style="height:100px;">{{vigo.meta|default:""}}</textarea>
        </div>
        <div class="form-row cell">
            <label for="id_widget" style="margin: 0; display:block;">Widget</label>
            <textarea id="id_widget" name="widget" style="height:200px;">{{vigo.widget|default:""}}</textarea>
        </div>
        <div class="form-row inner">
            <input type="submit" class="button" value="Save Setting" />
        </div>
    </form>
</div>
<div class="sidebar alignright">
    <div class="help">
        <h4>Site Name</h4>
        <p>Your site's name can be anything</p>
    </div>
    <div class="help">
        <h4>Twitter</h4>
        <p>Your Twitter name. eg: lepture</p>
    </div>
    <div class="help">
        <h4>Alternate Feed</h4>
        <p>You can use your feed burned by feedburner or feedsky.</p>
    </div>
    <div class="help">
        <h4>Meta</h4>
        <p>HTML in the head.</p>
    </div>
    <div class="help">
        <h4>Widget</h4>
        <p>HTML in the sidebar. example:</p>
        <textarea>
<div class="widget">
<h3 class="widget-title">Title</h3>
<div>Content</div>
</div></textarea>
    </div>
</div>
{%endblock%}
